*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.button1{
    background-color: rgba(223, 223, 223, 0.767);
    display: flex;
    width: auto;
    border-radius: 20px;
    transition: background-color 1s;
}
.button1:hover{
    background-color:rgba(255, 255, 255, 0.774) ;
}
.Logo{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    transition: box-shadow 1s;
    transition: background-color 1s;
}
.Logo:hover{
    box-shadow: 0 0 20px black;
    background-color: rgb(255, 102, 0);
}
h1{
    margin: 15px;
    transition: COLOR 1s;
    color: rgb(220, 20, 20);
}
h1:hover{
    color: rgb(255, 60, 0);
}
h4{
    color: rgb(54, 54, 54);
}
body{
    display: flex;
    flex-direction: column;
    background: url(https://wallup.net/wp-content/uploads/2016/04/10/181444-digital_art-fantasy_art-Magic_The_Gathering.jpg)
}
.absorb{
    background-color: rgba(185, 185, 185, 0.644);
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
}
.absorbh2{
    padding: 10px;
}
h5{
    font-size: 20px;
    margin: 10px;
}
.sliver{
    border-radius: 20px;
    max-height:auto;
    max-width: auto;
    width: 300px;
    height: 400px;
    margin: 20px;
}